<div class="page-header">
  <h1>
    Productitems
    <a href="/productitems/new" class="btn btn-lg btn-success">New Productitem</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Cart</th>
        <th>Order</th>
        <th>Item</th>
        <th>Actions</th>
      </tr>

      <% @productitems.each do |productitem| %>
      <tr>
        <td>
          <% if productitem.cart.present? %>
            <a href="/carts/<%= productitem.cart.id %>">
              <%= productitem.cart.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if productitem.order.present? %>
            <a href="/orders/<%= productitem.order.id %>">
              <%= productitem.order.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if productitem.item.present? %>
            <a href="/items/<%= productitem.item.id %>">
              <%= productitem.item.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/productitems/<%= productitem.id %>" class="btn btn-primary">Show</a>
          <a href="/productitems/<%= productitem.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_productitem/<%= productitem.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @productitems, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
