<div class="page-header">
  <h3>Productitem #<%= @productitem.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cart</dt>
      <dd>
        <% if @productitem.cart.present? %>
          <a href="/carts/<%= @productitem.cart_id %>">
            <%= @productitem.cart.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Order</dt>
      <dd>
        <% if @productitem.order.present? %>
          <a href="/orders/<%= @productitem.order_id %>">
            <%= @productitem.order.name %>
          </a>
        <% end %>
      </dd>

      <dt>Item</dt>
      <dd>
        <% if @productitem.item.present? %>
          <a href="/items/<%= @productitem.item_id %>">
            <%= @productitem.item.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/productitems" class="btn btn-primary">
        Back
      </a>
      <a href="/productitems/<%= @productitem.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_productitem/<%= @productitem.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
