<div class="page-header">
  <h3>Order #<%= @order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @order.name %></dd>

      <dt>Email</dt>
      <dd><%= @order.email %></dd>

      <dt>Address</dt>
      <dd><%= @order.address %></dd>

      <dt>City</dt>
      <dd><%= @order.city %></dd>

      <dt>Country</dt>
      <dd><%= @order.country %></dd>

      <dt>Shipped</dt>
      <dd><%= @order.shipped %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/orders" class="btn btn-primary">
        Back
      </a>
      <a href="/orders/<%= @order.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_order/<%= @order.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Order has many productitems -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Productitems
      </li>

      <% @order.productitems.each do |productitem| %>
        <li class="list-group-item">
          <a href="/productitems/<%= productitem.id %>">
            <%= productitem.cart_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/productitems/<%= productitem.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/productitems/<%= productitem.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_productitem/<%= productitem.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_productitem" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cart_id -->
      <div class="form-group">
        <label for="cart_id" class="control-label">
          Cart
        </label>

        <%= select_tag(:cart_id, options_from_collection_for_select(Cart.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for order_id -->
      <input type="hidden" name="order_id" value="<%= @order.id %>">

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="control-label">
          Item
        </label>

        <%= select_tag(:item_id, options_from_collection_for_select(Item.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Productitem
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
