<!-- Validation failure messages -->
<% if @address.errors.any? %>
  <% @address.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Address</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_address" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @address.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for address_type -->
      <div class="checkbox">
        <label for="address_type">
          <input type="checkbox" id="address_type" name="address_type" value="1" <%= "checked" if @address.address_type %>>
          Address type
        </label>
      </div>

      <!-- Label and input for street_address1 -->
      <div class="form-group">
        <label for="street_address1" class="control-label">
          Street address1
        </label>

        <input type="text" id="street_address1" name="street_address1" placeholder="Street address1" class="form-control" value="<%= @address.street_address1 %>">
      </div>

      <!-- Label and input for unit_number -->
      <div class="form-group">
        <label for="unit_number" class="control-label">
          Unit number
        </label>

        <input type="text" id="unit_number" name="unit_number" placeholder="Unit number" class="form-control" value="<%= @address.unit_number %>">
      </div>

      <!-- Label and input for street_address2 -->
      <div class="form-group">
        <label for="street_address2" class="control-label">
          Street address2
        </label>

        <input type="text" id="street_address2" name="street_address2" placeholder="Street address2" class="form-control" value="<%= @address.street_address2 %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @address.city %>">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @address.state %>">
      </div>

      <!-- Label and input for country -->
      <div class="form-group">
        <label for="country" class="control-label">
          Country
        </label>

        <input type="text" id="country" name="country" placeholder="Country" class="form-control" value="<%= @address.country %>">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @address.zip %>">
      </div>

      <button class="btn btn-success">
        Create Address
      </button>
      or
      <a href="/addresses">Cancel</a>
    </form>
  </div>
</div>
