<div class="page-header">
  <h3>Address #<%= @address.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @address.user.present? %>
          <a href="/users/<%= @address.user_id %>">
            <%= @address.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Address type</dt>
      <dd><%= @address.address_type %></dd>

      <dt>Street address1</dt>
      <dd><%= @address.street_address1 %></dd>

      <dt>Unit number</dt>
      <dd><%= @address.unit_number %></dd>

      <dt>Street address2</dt>
      <dd><%= @address.street_address2 %></dd>

      <dt>City</dt>
      <dd><%= @address.city %></dd>

      <dt>State</dt>
      <dd><%= @address.state %></dd>

      <dt>Country</dt>
      <dd><%= @address.country %></dd>

      <dt>Zip</dt>
      <dd><%= @address.zip %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/addresses" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @address.user %>
        <a href="/addresses/<%= @address.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_address/<%= @address.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
