<div class="page-header">
  <h3>Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @item.name %></dd>

      <dt>Description</dt>
      <dd><%= @item.description %></dd>

      <dt>Price</dt>
      <dd><%= @item.price %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Item has many itemphotos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Itemphotos
      </li>

      <% @item.itemphotos.each do |itemphoto| %>
        <li class="list-group-item">
          <a href="/itemphotos/<%= itemphoto.id %>">
            <%= itemphoto.item_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/itemphotos/<%= itemphoto.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/itemphotos/<%= itemphoto.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_itemphoto/<%= itemphoto.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_itemphoto" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_id -->
      <input type="hidden" name="item_id" value="<%= @item.id %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <button class="btn btn-block btn-success">
        Create Itemphoto
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Item has many productitems -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Productitems
      </li>

      <% @item.productitems.each do |productitem| %>
        <li class="list-group-item">
          <a href="/productitems/<%= productitem.id %>">
            <%= productitem.cart_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/productitems/<%= productitem.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/productitems/<%= productitem.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_productitem/<%= productitem.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_productitem" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cart_id -->
      <div class="form-group">
        <label for="cart_id" class="control-label">
          Cart
        </label>

        <%= select_tag(:cart_id, options_from_collection_for_select(Cart.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for order_id -->
      <div class="form-group">
        <label for="order_id" class="control-label">
          Order
        </label>

        <%= select_tag(:order_id, options_from_collection_for_select(Order.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for item_id -->
      <input type="hidden" name="item_id" value="<%= @item.id %>">

      <button class="btn btn-block btn-success">
        Create Productitem
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
