<!-- Validation failure messages -->
<% if @itemphoto.errors.any? %>
  <% @itemphoto.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Itemphoto #<%= @itemphoto.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_itemphoto/<%= @itemphoto.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="control-label">
          Item
        </label>

        <input type="text" id="item_id" name="item_id" placeholder="Item" class="form-control" value="<%= @itemphoto.item_id %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @itemphoto.image %>">
      </div>

      <button class="btn btn-warning">
        Update Itemphoto
      </button>
      or
      <a href="/itemphotos/<%= @itemphoto.id %>">Cancel</a>
    </form>
  </div>
</div>
